build/contracts/LonWireStorage.json
{
  "contractName": "LonWireStorage",
  "abi": [
    {
      "constant": true,
      "inputs": [
        {
          "name": "",
          "type": "address"
        }
      ],
      "name": "contracts",
      "outputs": [
        {
          "name": "",
          "type": "bool"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    },
    {
      "constant": false,
      "inputs": [],
      "name": "renounceOwnership",
      "outputs": [],
      "payable": false,
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "constant": true,
      "inputs": [
        {
          "name": "",
          "type": "address"
        },
        {
          "name": "",
          "type": "address"
        },
        {
          "name": "",
          "type": "uint256"
        }
      ],
      "name": "wires",
      "outputs": [
        {
          "name": "timestamp",
          "type": "uint256"
        },
        {
          "name": "value",
          "type": "uint256"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    },
    {
      "constant": true,
      "inputs": [],
      "name": "owner",
      "outputs": [
        {
          "name": "",
          "type": "address"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    },
    {
      "constant": false,
      "inputs": [
        {
          "name": "_newOwner",
          "type": "address"
        }
      ],
      "name": "transferOwnership",
      "outputs": [],
      "payable": false,
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": true,
          "name": "previousOwner",
          "type": "address"
        }
      ],
      "name": "OwnershipRenounced",
      "type": "event"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": true,
          "name": "previousOwner",
          "type": "address"
        },
        {
          "indexed": true,
          "name": "newOwner",
          "type": "address"
        }
      ],
      "name": "OwnershipTransferred",
      "type": "event"
    },
    {
      "constant": false,
      "inputs": [
        {
          "name": "sender",
          "type": "address"
        },
        {
          "name": "receiver",
          "type": "address"
        },
        {
          "name": "value",
          "type": "uint256"
        }
      ],
      "name": "insert",
      "outputs": [
        {
          "name": "",
          "type": "bool"
        }
      ],
      "payable": false,
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "constant": true,
      "inputs": [
        {
          "name": "receiver",
          "type": "address"
        },
        {
          "name": "sender",
          "type": "address"
        }
      ],
      "name": "countWires",
      "outputs": [
        {
          "name": "",
          "type": "uint256"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    },
    {
      "constant": false,
      "inputs": [
        {
          "name": "addr",
          "type": "address"
        },
        {
          "name": "allowed",
          "type": "bool"
        }
      ],
      "name": "modifyContracts",
      "outputs": [],
      "payable": false,
      "stateMutability": "nonpayable",
      "type": "function"
    }
  ],
  "bytecode": "0x6080604052336000806101000a81548173ffffffffffffffffffffffffffffffffffffffff021916908373ffffffffffffffffffffffffffffffffffffffff160217905550610931806100536000396000f30060806040526004361061008e576000357c0100000000000000000000000000000000000000000000000000000000900463ffffffff168063030c66b71461009357806369dc9ff314610118578063715018a61461017357806382314a2b1461018a5780638da5cb5b14610212578063cbaa878514610269578063d52e6c2a146102b8578063f2fde38b1461032f575b600080fd5b34801561009f57600080fd5b506100fe600480360381019080803573ffffffffffffffffffffffffffffffffffffffff169060200190929190803573ffffffffffffffffffffffffffffffffffffffff16906020019092919080359060200190929190505050610372565b604051808215151515815260200191505060405180910390f35b34801561012457600080fd5b50610159600480360381019080803573ffffffffffffffffffffffffffffffffffffffff1690602001909291905050506104b6565b604051808215151515815260200191505060405180910390f35b34801561017f57600080fd5b506101886104d6565b005b34801561019657600080fd5b506101f5600480360381019080803573ffffffffffffffffffffffffffffffffffffffff169060200190929190803573ffffffffffffffffffffffffffffffffffffffff169060200190929190803590602001909291905050506105d8565b604051808381526020018281526020019250505060405180910390f35b34801561021e57600080fd5b50610227610625565b604051808273ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff16815260200191505060405180910390f35b34801561027557600080fd5b506102b6600480360381019080803573ffffffffffffffffffffffffffffffffffffffff16906020019092919080351515906020019092919050505061064a565b005b3480156102c457600080fd5b50610319600480360381019080803573ffffffffffffffffffffffffffffffffffffffff169060200190929190803573ffffffffffffffffffffffffffffffffffffffff169060200190929190505050610700565b6040518082815260200191505060405180910390f35b34801561033b57600080fd5b50610370600480360381019080803573ffffffffffffffffffffffffffffffffffffffff16906020019092919050505061078a565b005b600061037c6108eb565b600260003373ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff16815260200190815260200160002060009054906101000a900460ff1615156103d457600080fd5b6040805190810160405280428152602001848152509050600160008573ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff16815260200190815260200160002060008673ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff1681526020019081526020016000208190806001815401808255809150509060018203906000526020600020906002020160009091929091909150600082015181600001556020820151816001015550505060019150509392505050565b60026020528060005260406000206000915054906101000a900460ff1681565b6000809054906101000a900473ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff163373ffffffffffffffffffffffffffffffffffffffff1614151561053157600080fd5b6000809054906101000a900473ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff167ff8df31144d9c2f0f6b59d69b8b98abd5459d07f2742c4df920b25aae33c6482060405160405180910390a260008060006101000a81548173ffffffffffffffffffffffffffffffffffffffff021916908373ffffffffffffffffffffffffffffffffffffffff160217905550565b6001602052826000526040600020602052816000526040600020818154811015156105ff57fe5b906000526020600020906002020160009250925050508060000154908060010154905082565b6000809054906101000a900473ffffffffffffffffffffffffffffffffffffffff1681565b6000809054906101000a900473ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff163373ffffffffffffffffffffffffffffffffffffffff161415156106a557600080fd5b80600260008473ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff16815260200190815260200160002060006101000a81548160ff0219169083151502179055505050565b6000600160008473ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff16815260200190815260200160002060008373ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff16815260200190815260200160002080549050905092915050565b6000809054906101000a900473ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff163373ffffffffffffffffffffffffffffffffffffffff161415156107e557600080fd5b6107ee816107f1565b50565b600073ffffffffffffffffffffffffffffffffffffffff168173ffffffffffffffffffffffffffffffffffffffff161415151561082d57600080fd5b8073ffffffffffffffffffffffffffffffffffffffff166000809054906101000a900473ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff167f8be0079c531659141344cd1fd0a4f28419497f9722a3daafe3b4186f6b6457e060405160405180910390a3806000806101000a81548173ffffffffffffffffffffffffffffffffffffffff021916908373ffffffffffffffffffffffffffffffffffffffff16021790555050565b6040805190810160405280600081526020016000815250905600a165627a7a723058202ee8b997cc59fd1b6e624ae7f102c1d9b6c2af5e124f4a0a514503b39143fc6b0029",
  "deployedBytecode": "0x60806040526004361061008e576000357c0100000000000000000000000000000000000000000000000000000000900463ffffffff168063030c66b71461009357806369dc9ff314610118578063715018a61461017357806382314a2b1461018a5780638da5cb5b14610212578063cbaa878514610269578063d52e6c2a146102b8578063f2fde38b1461032f575b600080fd5b34801561009f57600080fd5b506100fe600480360381019080803573ffffffffffffffffffffffffffffffffffffffff169060200190929190803573ffffffffffffffffffffffffffffffffffffffff16906020019092919080359060200190929190505050610372565b604051808215151515815260200191505060405180910390f35b34801561012457600080fd5b50610159600480360381019080803573ffffffffffffffffffffffffffffffffffffffff1690602001909291905050506104b6565b604051808215151515815260200191505060405180910390f35b34801561017f57600080fd5b506101886104d6565b005b34801561019657600080fd5b506101f5600480360381019080803573ffffffffffffffffffffffffffffffffffffffff169060200190929190803573ffffffffffffffffffffffffffffffffffffffff169060200190929190803590602001909291905050506105d8565b604051808381526020018281526020019250505060405180910390f35b34801561021e57600080fd5b50610227610625565b604051808273ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff16815260200191505060405180910390f35b34801561027557600080fd5b506102b6600480360381019080803573ffffffffffffffffffffffffffffffffffffffff16906020019092919080351515906020019092919050505061064a565b005b3480156102c457600080fd5b50610319600480360381019080803573ffffffffffffffffffffffffffffffffffffffff169060200190929190803573ffffffffffffffffffffffffffffffffffffffff169060200190929190505050610700565b6040518082815260200191505060405180910390f35b34801561033b57600080fd5b50610370600480360381019080803573ffffffffffffffffffffffffffffffffffffffff16906020019092919050505061078a565b005b600061037c6108eb565b600260003373ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff16815260200190815260200160002060009054906101000a900460ff1615156103d457600080fd5b6040805190810160405280428152602001848152509050600160008573ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff16815260200190815260200160002060008673ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff1681526020019081526020016000208190806001815401808255809150509060018203906000526020600020906002020160009091929091909150600082015181600001556020820151816001015550505060019150509392505050565b60026020528060005260406000206000915054906101000a900460ff1681565b6000809054906101000a900473ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff163373ffffffffffffffffffffffffffffffffffffffff1614151561053157600080fd5b6000809054906101000a900473ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff167ff8df31144d9c2f0f6b59d69b8b98abd5459d07f2742c4df920b25aae33c6482060405160405180910390a260008060006101000a81548173ffffffffffffffffffffffffffffffffffffffff021916908373ffffffffffffffffffffffffffffffffffffffff160217905550565b6001602052826000526040600020602052816000526040600020818154811015156105ff57fe5b906000526020600020906002020160009250925050508060000154908060010154905082565b6000809054906101000a900473ffffffffffffffffffffffffffffffffffffffff1681565b6000809054906101000a900473ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff163373ffffffffffffffffffffffffffffffffffffffff161415156106a557600080fd5b80600260008473ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff16815260200190815260200160002060006101000a81548160ff0219169083151502179055505050565b6000600160008473ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff16815260200190815260200160002060008373ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff16815260200190815260200160002080549050905092915050565b6000809054906101000a900473ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff163373ffffffffffffffffffffffffffffffffffffffff161415156107e557600080fd5b6107ee816107f1565b50565b600073ffffffffffffffffffffffffffffffffffffffff168173ffffffffffffffffffffffffffffffffffffffff161415151561082d57600080fd5b8073ffffffffffffffffffffffffffffffffffffffff166000809054906101000a900473ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff167f8be0079c531659141344cd1fd0a4f28419497f9722a3daafe3b4186f6b6457e060405160405180910390a3806000806101000a81548173ffffffffffffffffffffffffffffffffffffffff021916908373ffffffffffffffffffffffffffffffffffffffff16021790555050565b6040805190810160405280600081526020016000815250905600a165627a7a723058202ee8b997cc59fd1b6e624ae7f102c1d9b6c2af5e124f4a0a514503b39143fc6b0029",
  "sourceMap": "112:1274:5:-;;;575:10:10;567:5;;:18;;;;;;;;;;;;;;;;;;112:1274:5;;;;;;",
  "deployedSourceMap": "112:1274:5:-;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;546:315;;8:9:-1;5:2;;;30:1;27;20:12;5:2;546:315:5;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;330:41;;8:9:-1;5:2;;;30:1;27;20:12;5:2;330:41:5;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;1001:111:10;;8:9:-1;5:2;;;30:1;27;20:12;5:2;1001:111:10;;;;;;243:59:5;;8:9:-1;5:2;;;30:1;27;20:12;5:2;243:59:5;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;238:20:10;;8:9:-1;5:2;;;30:1;27;20:12;5:2;238:20:10;;;;;;;;;;;;;;;;;;;;;;;;;;;1277:106:5;;8:9:-1;5:2;;;30:1;27;20:12;5:2;1277:106:5;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;990:129;;8:9:-1;5:2;;;30:1;27;20:12;5:2;990:129:5;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;1274:103:10;;8:9:-1;5:2;;;30:1;27;20:12;5:2;1274:103:10;;;;;;;;;;;;;;;;;;;;;;;;;;;;546:315:5;624:4;732:16;;:::i;:::-;703:9;:21;713:10;703:21;;;;;;;;;;;;;;;;;;;;;;;;;695:30;;;;;;;;751:47;;;;;;;;;763:15;751:47;;;;787:5;751:47;;;732:66;;805:5;:15;811:8;805:15;;;;;;;;;;;;;;;:23;821:6;805:23;;;;;;;;;;;;;;;834:4;805:34;;39:1:-1;33:3;27:10;23:18;57:10;52:3;45:23;79:10;72:17;;0:93;805:34:5;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;852:4;845:11;;546:315;;;;;;:::o;330:41::-;;;;;;;;;;;;;;;;;;;;;;:::o;1001:111:10:-;719:5;;;;;;;;;;;705:19;;:10;:19;;;697:28;;;;;;;;1077:5;;;;;;;;;;;1058:25;;;;;;;;;;;;1105:1;1089:5;;:18;;;;;;;;;;;;;;;;;;1001:111::o;243:59:5:-;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:::o;238:20:10:-;;;;;;;;;;;;;:::o;1277:106:5:-;719:5:10;;;;;;;;;;;705:19;;:10;:19;;;697:28;;;;;;;;1371:7:5;1353:9;:15;1363:4;1353:15;;;;;;;;;;;;;;;;:25;;;;;;;;;;;;;;;;;;1277:106;;:::o;990:129::-;1065:4;1084:5;:15;1090:8;1084:15;;;;;;;;;;;;;;;:23;1100:6;1084:23;;;;;;;;;;;;;;;:30;;;;1077:37;;990:129;;;;:::o;1274:103:10:-;719:5;;;;;;;;;;;705:19;;:10;:19;;;697:28;;;;;;;;1343:29;1362:9;1343:18;:29::i;:::-;1274:103;:::o;1512:171::-;1603:1;1582:23;;:9;:23;;;;1574:32;;;;;;;;1645:9;1617:38;;1638:5;;;;;;;;;;;1617:38;;;;;;;;;;;;1669:9;1661:5;;:17;;;;;;;;;;;;;;;;;;1512:171;:::o;112:1274:5:-;;;;;;;;;;;;;;;;;;;;:::o",
  "source": "pragma solidity ^0.4.24;\n\nimport './LonToken.sol';\nimport 'zeppelin-solidity/contracts/ownership/Ownable.sol';\n\ncontract LonWireStorage is Ownable {\n\n  struct Wire {\n    uint timestamp;\n    uint value;\n  }\n\n  // Mapping of wires by receiver\n  mapping(address => mapping(address => Wire[])) public wires;\n\n  // Allowed contracts\n  mapping(address => bool) public contracts;\n\n  /**\n   * Insert the wire to the storage\n   * @param sender The sender\n   * @param receiver The receiver\n   * @param value The value of the wire\n   * @return bool\n   */\n  function insert(address sender, address receiver, uint value) public returns (bool) {\n\n    //only allow if transaction from an approved contract\n    require(contracts[msg.sender]);\n\n    Wire memory wire = Wire(\n      block.timestamp, \n      value\n    );\n\n    wires[receiver][sender].push(wire);\n    return true;\n  }\n\n  /**\n   * Return the count of wires\n   * @param receiver The receiver\n   * @param sender The sender\n   * @return uint\n   */\n  function countWires(address receiver, address sender) public view returns (uint) {\n    return wires[receiver][sender].length;\n  }\n\n  /**\n   * Modify the allowed contracts that can write to this contract\n   * @param addr The address of the contract\n   * @param allowed True/False\n   */\n  function modifyContracts(address addr, bool allowed) public onlyOwner {\n    contracts[addr] = allowed;\n  }\n\n}",
  "sourcePath": "/Users/shakieraleonard/Desktop/Dev/crypto/contracts/LonWireStorage.sol",
  "ast": {
    "absolutePath": "/Users/shakieraleonard/Desktop/Dev/crypto/contracts/LonWireStorage.sol",
    "exportedSymbols": {
      "LonWireStorage": [
        1313
      ]
    },
    "id": 1314,
    "nodeType": "SourceUnit",
    "nodes": [
      {
        "id": 1221,
        "literals": [
          "solidity",
          "^",
          "0.4",
          ".24"
        ],
        "nodeType": "PragmaDirective",
        "src": "0:24:5"
      },
      {
        "absolutePath": "/Users/shakieraleonard/Desktop/Dev/crypto/contracts/LonToken.sol",
        "file": "./LonToken.sol",
        "id": 1222,
        "nodeType": "ImportDirective",
        "scope": 1314,
        "sourceUnit": 627,
        "src": "26:24:5",
        "symbolAliases": [],
        "unitAlias": ""
      },
      {
        "absolutePath": "zeppelin-solidity/contracts/ownership/Ownable.sol",
        "file": "zeppelin-solidity/contracts/ownership/Ownable.sol",
        "id": 1223,
        "nodeType": "ImportDirective",
        "scope": 1314,
        "sourceUnit": 1847,
        "src": "51:59:5",
        "symbolAliases": [],
        "unitAlias": ""
      },
      {
        "baseContracts": [
          {
            "arguments": null,
            "baseName": {
              "contractScope": null,
              "id": 1224,
              "name": "Ownable",
              "nodeType": "UserDefinedTypeName",
              "referencedDeclaration": 1846,
              "src": "139:7:5",
              "typeDescriptions": {
                "typeIdentifier": "t_contract$_Ownable_$1846",
                "typeString": "contract Ownable"
              }
            },
            "id": 1225,
            "nodeType": "InheritanceSpecifier",
            "src": "139:7:5"
          }
        ],
        "contractDependencies": [
          1846
        ],
        "contractKind": "contract",
        "documentation": null,
        "fullyImplemented": true,
        "id": 1313,
        "linearizedBaseContracts": [
          1313,
          1846
        ],
        "name": "LonWireStorage",
        "nodeType": "ContractDefinition",
        "nodes": [
          {
            "canonicalName": "LonWireStorage.Wire",
            "id": 1230,
            "members": [
              {
                "constant": false,
                "id": 1227,
                "name": "timestamp",
                "nodeType": "VariableDeclaration",
                "scope": 1230,
                "src": "170:14:5",
                "stateVariable": false,
                "storageLocation": "default",
                "typeDescriptions": {
                  "typeIdentifier": "t_uint256",
                  "typeString": "uint256"
                },
                "typeName": {
                  "id": 1226,
                  "name": "uint",
                  "nodeType": "ElementaryTypeName",
                  "src": "170:4:5",
                  "typeDescriptions": {
                    "typeIdentifier": "t_uint256",
                    "typeString": "uint256"
                  }
                },
                "value": null,
                "visibility": "internal"
              },
              {
                "constant": false,
                "id": 1229,
                "name": "value",
                "nodeType": "VariableDeclaration",
                "scope": 1230,
                "src": "190:10:5",
                "stateVariable": false,
                "storageLocation": "default",
                "typeDescriptions": {
                  "typeIdentifier": "t_uint256",
                  "typeString": "uint256"
                },
                "typeName": {
                  "id": 1228,
                  "name": "uint",
                  "nodeType": "ElementaryTypeName",
                  "src": "190:4:5",
                  "typeDescriptions": {
                    "typeIdentifier": "t_uint256",
                    "typeString": "uint256"
                  }
                },
                "value": null,
                "visibility": "internal"
              }
            ],
            "name": "Wire",
            "nodeType": "StructDefinition",
            "scope": 1313,
            "src": "152:53:5",
            "visibility": "public"
          },
          {
            "constant": false,
            "id": 1237,
            "name": "wires",
            "nodeType": "VariableDeclaration",
            "scope": 1313,
            "src": "243:59:5",
            "stateVariable": true,
            "storageLocation": "default",
            "typeDescriptions": {
              "typeIdentifier": "t_mapping$_t_address_$_t_mapping$_t_address_$_t_array$_t_struct$_Wire_$1230_storage_$dyn_storage_$_$",
              "typeString": "mapping(address => mapping(address => struct LonWireStorage.Wire[]))"
            },
            "typeName": {
              "id": 1236,
              "keyType": {
                "id": 1231,
                "name": "address",
                "nodeType": "ElementaryTypeName",
                "src": "251:7:5",
                "typeDescriptions": {
                  "typeIdentifier": "t_address",
                  "typeString": "address"
                }
              },
              "nodeType": "Mapping",
              "src": "243:46:5",
              "typeDescriptions": {
                "typeIdentifier": "t_mapping$_t_address_$_t_mapping$_t_address_$_t_array$_t_struct$_Wire_$1230_storage_$dyn_storage_$_$",
                "typeString": "mapping(address => mapping(address => struct LonWireStorage.Wire[]))"
              },
              "valueType": {
                "id": 1235,
                "keyType": {
                  "id": 1232,
                  "name": "address",
                  "nodeType": "ElementaryTypeName",
                  "src": "270:7:5",
                  "typeDescriptions": {
                    "typeIdentifier": "t_address",
                    "typeString": "address"
                  }
                },
                "nodeType": "Mapping",
                "src": "262:26:5",
                "typeDescriptions": {
                  "typeIdentifier": "t_mapping$_t_address_$_t_array$_t_struct$_Wire_$1230_storage_$dyn_storage_$",
                  "typeString": "mapping(address => struct LonWireStorage.Wire[])"
                },
                "valueType": {
                  "baseType": {
                    "contractScope": null,
                    "id": 1233,
                    "name": "Wire",
                    "nodeType": "UserDefinedTypeName",
                    "referencedDeclaration": 1230,
                    "src": "281:4:5",
                    "typeDescriptions": {
                      "typeIdentifier": "t_struct$_Wire_$1230_storage_ptr",
                      "typeString": "struct LonWireStorage.Wire"
                    }
                  },
                  "id": 1234,
                  "length": null,
                  "nodeType": "ArrayTypeName",
                  "src": "281:6:5",
                  "typeDescriptions": {
                    "typeIdentifier": "t_array$_t_struct$_Wire_$1230_storage_$dyn_storage_ptr",
                    "typeString": "struct LonWireStorage.Wire[]"
                  }
                }
              }
            },
            "value": null,
            "visibility": "public"
          },
          {
            "constant": false,
            "id": 1241,
            "name": "contracts",
            "nodeType": "VariableDeclaration",
            "scope": 1313,
            "src": "330:41:5",
            "stateVariable": true,
            "storageLocation": "default",
            "typeDescriptions": {
              "typeIdentifier": "t_mapping$_t_address_$_t_bool_$",
              "typeString": "mapping(address => bool)"
            },
            "typeName": {
              "id": 1240,
              "keyType": {
                "id": 1238,
                "name": "address",
                "nodeType": "ElementaryTypeName",
                "src": "338:7:5",
                "typeDescriptions": {
                  "typeIdentifier": "t_address",
                  "typeString": "address"
                }
              },
              "nodeType": "Mapping",
              "src": "330:24:5",
              "typeDescriptions": {
                "typeIdentifier": "t_mapping$_t_address_$_t_bool_$",
                "typeString": "mapping(address => bool)"
              },
              "valueType": {
                "id": 1239,
                "name": "bool",
                "nodeType": "ElementaryTypeName",
                "src": "349:4:5",
                "typeDescriptions": {
                  "typeIdentifier": "t_bool",
                  "typeString": "bool"
                }
              }
            },
            "value": null,
            "visibility": "public"
          },
          {
            "body": {
              "id": 1278,
              "nodeType": "Block",
              "src": "630:231:5",
              "statements": [
                {
                  "expression": {
                    "argumentTypes": null,
                    "arguments": [
                      {
                        "argumentTypes": null,
                        "baseExpression": {
                          "argumentTypes": null,
                          "id": 1253,
                          "name": "contracts",
                          "nodeType": "Identifier",
                          "overloadedDeclarations": [],
                          "referencedDeclaration": 1241,
                          "src": "703:9:5",
                          "typeDescriptions": {
                            "typeIdentifier": "t_mapping$_t_address_$_t_bool_$",
                            "typeString": "mapping(address => bool)"
                          }
                        },
                        "id": 1256,
                        "indexExpression": {
                          "argumentTypes": null,
                          "expression": {
                            "argumentTypes": null,
                            "id": 1254,
                            "name": "msg",
                            "nodeType": "Identifier",
                            "overloadedDeclarations": [],
                            "referencedDeclaration": 2562,
                            "src": "713:3:5",
                            "typeDescriptions": {
                              "typeIdentifier": "t_magic_message",
                              "typeString": "msg"
                            }
                          },
                          "id": 1255,
                          "isConstant": false,
                          "isLValue": false,
                          "isPure": false,
                          "lValueRequested": false,
                          "memberName": "sender",
                          "nodeType": "MemberAccess",
                          "referencedDeclaration": null,
                          "src": "713:10:5",
                          "typeDescriptions": {
                            "typeIdentifier": "t_address",
                            "typeString": "address"
                          }
                        },
                        "isConstant": false,
                        "isLValue": true,
                        "isPure": false,
                        "lValueRequested": false,
                        "nodeType": "IndexAccess",
                        "src": "703:21:5",
                        "typeDescriptions": {
                          "typeIdentifier": "t_bool",
                          "typeString": "bool"
                        }
                      }
                    ],
                    "expression": {
                      "argumentTypes": [
                        {
                          "typeIdentifier": "t_bool",
                          "typeString": "bool"
                        }
                      ],
                      "id": 1252,
                      "name": "require",
                      "nodeType": "Identifier",
                      "overloadedDeclarations": [
                        2565,
                        2566
                      ],
                      "referencedDeclaration": 2565,
                      "src": "695:7:5",
                      "typeDescriptions": {
                        "typeIdentifier": "t_function_require_pure$_t_bool_$returns$__$",
                        "typeString": "function (bool) pure"
                      }
                    },
                    "id": 1257,
                    "isConstant": false,
                    "isLValue": false,
                    "isPure": false,
                    "kind": "functionCall",
                    "lValueRequested": false,
                    "names": [],
                    "nodeType": "FunctionCall",
                    "src": "695:30:5",
                    "typeDescriptions": {
                      "typeIdentifier": "t_tuple$__$",
                      "typeString": "tuple()"
                    }
                  },
                  "id": 1258,
                  "nodeType": "ExpressionStatement",
                  "src": "695:30:5"
                },
                {
                  "assignments": [
                    1260
                  ],
                  "declarations": [
                    {
                      "constant": false,
                      "id": 1260,
                      "name": "wire",
                      "nodeType": "VariableDeclaration",
                      "scope": 1279,
                      "src": "732:16:5",
                      "stateVariable": false,
                      "storageLocation": "memory",
                      "typeDescriptions": {
                        "typeIdentifier": "t_struct$_Wire_$1230_memory_ptr",
                        "typeString": "struct LonWireStorage.Wire"
                      },
                      "typeName": {
                        "contractScope": null,
                        "id": 1259,
                        "name": "Wire",
                        "nodeType": "UserDefinedTypeName",
                        "referencedDeclaration": 1230,
                        "src": "732:4:5",
                        "typeDescriptions": {
                          "typeIdentifier": "t_struct$_Wire_$1230_storage_ptr",
                          "typeString": "struct LonWireStorage.Wire"
                        }
                      },
                      "value": null,
                      "visibility": "internal"
                    }
                  ],
                  "id": 1266,
                  "initialValue": {
                    "argumentTypes": null,
                    "arguments": [
                      {
                        "argumentTypes": null,
                        "expression": {
                          "argumentTypes": null,
                          "id": 1262,
                          "name": "block",
                          "nodeType": "Identifier",
                          "overloadedDeclarations": [],
                          "referencedDeclaration": 2552,
                          "src": "763:5:5",
                          "typeDescriptions": {
                            "typeIdentifier": "t_magic_block",
                            "typeString": "block"
                          }
                        },
                        "id": 1263,
                        "isConstant": false,
                        "isLValue": false,
                        "isPure": false,
                        "lValueRequested": false,
                        "memberName": "timestamp",
                        "nodeType": "MemberAccess",
                        "referencedDeclaration": null,
                        "src": "763:15:5",
                        "typeDescriptions": {
                          "typeIdentifier": "t_uint256",
                          "typeString": "uint256"
                        }
                      },
                      {
                        "argumentTypes": null,
                        "id": 1264,
                        "name": "value",
                        "nodeType": "Identifier",
                        "overloadedDeclarations": [],
                        "referencedDeclaration": 1247,
                        "src": "787:5:5",
                        "typeDescriptions": {
                          "typeIdentifier": "t_uint256",
                          "typeString": "uint256"
                        }
                      }
                    ],
                    "expression": {
                      "argumentTypes": [
                        {
                          "typeIdentifier": "t_uint256",
                          "typeString": "uint256"
                        },
                        {
                          "typeIdentifier": "t_uint256",
                          "typeString": "uint256"
                        }
                      ],
                      "id": 1261,
                      "name": "Wire",
                      "nodeType": "Identifier",
                      "overloadedDeclarations": [],
                      "referencedDeclaration": 1230,
                      "src": "751:4:5",
                      "typeDescriptions": {
                        "typeIdentifier": "t_type$_t_struct$_Wire_$1230_storage_ptr_$",
                        "typeString": "type(struct LonWireStorage.Wire storage pointer)"
                      }
                    },
                    "id": 1265,
                    "isConstant": false,
                    "isLValue": false,
                    "isPure": false,
                    "kind": "structConstructorCall",
                    "lValueRequested": false,
                    "names": [],
                    "nodeType": "FunctionCall",
                    "src": "751:47:5",
                    "typeDescriptions": {
                      "typeIdentifier": "t_struct$_Wire_$1230_memory",
                      "typeString": "struct LonWireStorage.Wire memory"
                    }
                  },
                  "nodeType": "VariableDeclarationStatement",
                  "src": "732:66:5"
                },
                {
                  "expression": {
                    "argumentTypes": null,
                    "arguments": [
                      {
                        "argumentTypes": null,
                        "id": 1273,
                        "name": "wire",
                        "nodeType": "Identifier",
                        "overloadedDeclarations": [],
                        "referencedDeclaration": 1260,
                        "src": "834:4:5",
                        "typeDescriptions": {
                          "typeIdentifier": "t_struct$_Wire_$1230_memory_ptr",
                          "typeString": "struct LonWireStorage.Wire memory"
                        }
                      }
                    ],
                    "expression": {
                      "argumentTypes": [
                        {
                          "typeIdentifier": "t_struct$_Wire_$1230_memory_ptr",
                          "typeString": "struct LonWireStorage.Wire memory"
                        }
                      ],
                      "expression": {
                        "argumentTypes": null,
                        "baseExpression": {
                          "argumentTypes": null,
                          "baseExpression": {
                            "argumentTypes": null,
                            "id": 1267,
                            "name": "wires",
                            "nodeType": "Identifier",
                            "overloadedDeclarations": [],
                            "referencedDeclaration": 1237,
                            "src": "805:5:5",
                            "typeDescriptions": {
                              "typeIdentifier": "t_mapping$_t_address_$_t_mapping$_t_address_$_t_array$_t_struct$_Wire_$1230_storage_$dyn_storage_$_$",
                              "typeString": "mapping(address => mapping(address => struct LonWireStorage.Wire storage ref[] storage ref))"
                            }
                          },
                          "id": 1270,
                          "indexExpression": {
                            "argumentTypes": null,
                            "id": 1268,
                            "name": "receiver",
                            "nodeType": "Identifier",
                            "overloadedDeclarations": [],
                            "referencedDeclaration": 1245,
                            "src": "811:8:5",
                            "typeDescriptions": {
                              "typeIdentifier": "t_address",
                              "typeString": "address"
                            }
                          },
                          "isConstant": false,
                          "isLValue": true,
                          "isPure": false,
                          "lValueRequested": false,
                          "nodeType": "IndexAccess",
                          "src": "805:15:5",
                          "typeDescriptions": {
                            "typeIdentifier": "t_mapping$_t_address_$_t_array$_t_struct$_Wire_$1230_storage_$dyn_storage_$",
                            "typeString": "mapping(address => struct LonWireStorage.Wire storage ref[] storage ref)"
                          }
                        },
                        "id": 1271,
                        "indexExpression": {
                          "argumentTypes": null,
                          "id": 1269,
                          "name": "sender",
                          "nodeType": "Identifier",
                          "overloadedDeclarations": [],
                          "referencedDeclaration": 1243,
                          "src": "821:6:5",
                          "typeDescriptions": {
                            "typeIdentifier": "t_address",
                            "typeString": "address"
                          }
                        },
                        "isConstant": false,
                        "isLValue": true,
                        "isPure": false,
                        "lValueRequested": false,
                        "nodeType": "IndexAccess",
                        "src": "805:23:5",
                        "typeDescriptions": {
                          "typeIdentifier": "t_array$_t_struct$_Wire_$1230_storage_$dyn_storage",
                          "typeString": "struct LonWireStorage.Wire storage ref[] storage ref"
                        }
                      },
                      "id": 1272,
                      "isConstant": false,
                      "isLValue": false,
                      "isPure": false,
                      "lValueRequested": false,
                      "memberName": "push",
                      "nodeType": "MemberAccess",
                      "referencedDeclaration": null,
                      "src": "805:28:5",
                      "typeDescriptions": {
                        "typeIdentifier": "t_function_arraypush_nonpayable$_t_struct$_Wire_$1230_storage_$returns$_t_uint256_$",
                        "typeString": "function (struct LonWireStorage.Wire storage ref) returns (uint256)"
                      }
                    },
                    "id": 1274,
                    "isConstant": false,
                    "isLValue": false,
                    "isPure": false,
                    "kind": "functionCall",
                    "lValueRequested": false,
                    "names": [],
                    "nodeType": "FunctionCall",
                    "src": "805:34:5",
                    "typeDescriptions": {
                      "typeIdentifier": "t_uint256",
                      "typeString": "uint256"
                    }
                  },
                  "id": 1275,
                  "nodeType": "ExpressionStatement",
                  "src": "805:34:5"
                },
                {
                  "expression": {
                    "argumentTypes": null,
                    "hexValue": "74727565",
                    "id": 1276,
                    "isConstant": false,
                    "isLValue": false,
                    "isPure": true,
                    "kind": "bool",
                    "lValueRequested": false,
                    "nodeType": "Literal",
                    "src": "852:4:5",
                    "subdenomination": null,
                    "typeDescriptions": {
                      "typeIdentifier": "t_bool",
                      "typeString": "bool"
                    },
                    "value": "true"
                  },
                  "functionReturnParameters": 1251,
                  "id": 1277,
                  "nodeType": "Return",
                  "src": "845:11:5"
                }
              ]
            },
            "documentation": "Insert the wire to the storage\n@param sender The sender\n@param receiver The receiver\n@param value The value of the wire\n@return bool",
            "id": 1279,
            "implemented": true,
            "isConstructor": false,
            "isDeclaredConst": false,
            "modifiers": [],
            "name": "insert",
            "nodeType": "FunctionDefinition",
            "parameters": {
              "id": 1248,
              "nodeType": "ParameterList",
              "parameters": [
                {
                  "constant": false,
                  "id": 1243,
                  "name": "sender",
                  "nodeType": "VariableDeclaration",
                  "scope": 1279,
                  "src": "562:14:5",
                  "stateVariable": false,
                  "storageLocation": "default",
                  "typeDescriptions": {
                    "typeIdentifier": "t_address",
                    "typeString": "address"
                  },
                  "typeName": {
                    "id": 1242,
                    "name": "address",
                    "nodeType": "ElementaryTypeName",
                    "src": "562:7:5",
                    "typeDescriptions": {
                      "typeIdentifier": "t_address",
                      "typeString": "address"
                    }
                  },
                  "value": null,
                  "visibility": "internal"
                },
                {
                  "constant": false,
                  "id": 1245,
                  "name": "receiver",
                  "nodeType": "VariableDeclaration",
                  "scope": 1279,
                  "src": "578:16:5",
                  "stateVariable": false,
                  "storageLocation": "default",
                  "typeDescriptions": {
                    "typeIdentifier": "t_address",
                    "typeString": "address"
                  },
                  "typeName": {
                    "id": 1244,
                    "name": "address",
                    "nodeType": "ElementaryTypeName",
                    "src": "578:7:5",
                    "typeDescriptions": {
                      "typeIdentifier": "t_address",
                      "typeString": "address"
                    }
                  },
                  "value": null,
                  "visibility": "internal"
                },
                {
                  "constant": false,
                  "id": 1247,
                  "name": "value",
                  "nodeType": "VariableDeclaration",
                  "scope": 1279,
                  "src": "596:10:5",
                  "stateVariable": false,
                  "storageLocation": "default",
                  "typeDescriptions": {
                    "typeIdentifier": "t_uint256",
                    "typeString": "uint256"
                  },
                  "typeName": {
                    "id": 1246,
                    "name": "uint",
                    "nodeType": "ElementaryTypeName",
                    "src": "596:4:5",
                    "typeDescriptions": {
                      "typeIdentifier": "t_uint256",
                      "typeString": "uint256"
                    }
                  },
                  "value": null,
                  "visibility": "internal"
                }
              ],
              "src": "561:46:5"
            },
            "payable": false,
            "returnParameters": {
              "id": 1251,
              "nodeType": "ParameterList",
              "parameters": [
                {
                  "constant": false,
                  "id": 1250,
                  "name": "",
                  "nodeType": "VariableDeclaration",
                  "scope": 1279,
                  "src": "624:4:5",
                  "stateVariable": false,
                  "storageLocation": "default",
                  "typeDescriptions": {
                    "typeIdentifier": "t_bool",
                    "typeString": "bool"
                  },
                  "typeName": {
                    "id": 1249,
                    "name": "bool",
                    "nodeType": "ElementaryTypeName",
                    "src": "624:4:5",
                    "typeDescriptions": {
                      "typeIdentifier": "t_bool",
                      "typeString": "bool"
                    }
                  },
                  "value": null,
                  "visibility": "internal"
                }
              ],
              "src": "623:6:5"
            },
            "scope": 1313,
            "src": "546:315:5",
            "stateMutability": "nonpayable",
            "superFunction": null,
            "visibility": "public"
          },
          {
            "body": {
              "id": 1295,
              "nodeType": "Block",
              "src": "1071:48:5",
              "statements": [
                {
                  "expression": {
                    "argumentTypes": null,
                    "expression": {
                      "argumentTypes": null,
                      "baseExpression": {
                        "argumentTypes": null,
                        "baseExpression": {
                          "argumentTypes": null,
                          "id": 1288,
                          "name": "wires",
                          "nodeType": "Identifier",
                          "overloadedDeclarations": [],
                          "referencedDeclaration": 1237,
                          "src": "1084:5:5",
                          "typeDescriptions": {
                            "typeIdentifier": "t_mapping$_t_address_$_t_mapping$_t_address_$_t_array$_t_struct$_Wire_$1230_storage_$dyn_storage_$_$",
                            "typeString": "mapping(address => mapping(address => struct LonWireStorage.Wire storage ref[] storage ref))"
                          }
                        },
                        "id": 1290,
                        "indexExpression": {
                          "argumentTypes": null,
                          "id": 1289,
                          "name": "receiver",
                          "nodeType": "Identifier",
                          "overloadedDeclarations": [],
                          "referencedDeclaration": 1281,
                          "src": "1090:8:5",
                          "typeDescriptions": {
                            "typeIdentifier": "t_address",
                            "typeString": "address"
                          }
                        },
                        "isConstant": false,
                        "isLValue": true,
                        "isPure": false,
                        "lValueRequested": false,
                        "nodeType": "IndexAccess",
                        "src": "1084:15:5",
                        "typeDescriptions": {
                          "typeIdentifier": "t_mapping$_t_address_$_t_array$_t_struct$_Wire_$1230_storage_$dyn_storage_$",
                          "typeString": "mapping(address => struct LonWireStorage.Wire storage ref[] storage ref)"
                        }
                      },
                      "id": 1292,
                      "indexExpression": {
                        "argumentTypes": null,
                        "id": 1291,
                        "name": "sender",
                        "nodeType": "Identifier",
                        "overloadedDeclarations": [],
                        "referencedDeclaration": 1283,
                        "src": "1100:6:5",
                        "typeDescriptions": {
                          "typeIdentifier": "t_address",
                          "typeString": "address"
                        }
                      },
                      "isConstant": false,
                      "isLValue": true,
                      "isPure": false,
                      "lValueRequested": false,
                      "nodeType": "IndexAccess",
                      "src": "1084:23:5",
                      "typeDescriptions": {
                        "typeIdentifier": "t_array$_t_struct$_Wire_$1230_storage_$dyn_storage",
                        "typeString": "struct LonWireStorage.Wire storage ref[] storage ref"
                      }
                    },
                    "id": 1293,
                    "isConstant": false,
                    "isLValue": true,
                    "isPure": false,
                    "lValueRequested": false,
                    "memberName": "length",
                    "nodeType": "MemberAccess",
                    "referencedDeclaration": null,
                    "src": "1084:30:5",
                    "typeDescriptions": {
                      "typeIdentifier": "t_uint256",
                      "typeString": "uint256"
                    }
                  },
                  "functionReturnParameters": 1287,
                  "id": 1294,
                  "nodeType": "Return",
                  "src": "1077:37:5"
                }
              ]
            },
            "documentation": "Return the count of wires\n@param receiver The receiver\n@param sender The sender\n@return uint",
            "id": 1296,
            "implemented": true,
            "isConstructor": false,
            "isDeclaredConst": true,
            "modifiers": [],
            "name": "countWires",
            "nodeType": "FunctionDefinition",
            "parameters": {
              "id": 1284,
              "nodeType": "ParameterList",
              "parameters": [
                {
                  "constant": false,
                  "id": 1281,
                  "name": "receiver",
                  "nodeType": "VariableDeclaration",
                  "scope": 1296,
                  "src": "1010:16:5",
                  "stateVariable": false,
                  "storageLocation": "default",
                  "typeDescriptions": {
                    "typeIdentifier": "t_address",
                    "typeString": "address"
                  },
                  "typeName": {
                    "id": 1280,
                    "name": "address",
                    "nodeType": "ElementaryTypeName",
                    "src": "1010:7:5",
                    "typeDescriptions": {
                      "typeIdentifier": "t_address",
                      "typeString": "address"
                    }
                  },
                  "value": null,
                  "visibility": "internal"
                },
                {
                  "constant": false,
                  "id": 1283,
                  "name": "sender",
                  "nodeType": "VariableDeclaration",
                  "scope": 1296,
                  "src": "1028:14:5",
                  "stateVariable": false,
                  "storageLocation": "default",
                  "typeDescriptions": {
                    "typeIdentifier": "t_address",
                    "typeString": "address"
                  },
                  "typeName": {
                    "id": 1282,
                    "name": "address",
                    "nodeType": "ElementaryTypeName",
                    "src": "1028:7:5",
                    "typeDescriptions": {
                      "typeIdentifier": "t_address",
                      "typeString": "address"
                    }
                  },
                  "value": null,
                  "visibility": "internal"
                }
              ],
              "src": "1009:34:5"
            },
            "payable": false,
            "returnParameters": {
              "id": 1287,
              "nodeType": "ParameterList",
              "parameters": [
                {
                  "constant": false,
                  "id": 1286,
                  "name": "",
                  "nodeType": "VariableDeclaration",
                  "scope": 1296,
                  "src": "1065:4:5",
                  "stateVariable": false,
                  "storageLocation": "default",
                  "typeDescriptions": {
                    "typeIdentifier": "t_uint256",
                    "typeString": "uint256"
                  },
                  "typeName": {
                    "id": 1285,
                    "name": "uint",
                    "nodeType": "ElementaryTypeName",
                    "src": "1065:4:5",
                    "typeDescriptions": {
                      "typeIdentifier": "t_uint256",
                      "typeString": "uint256"
                    }
                  },
                  "value": null,
                  "visibility": "internal"
                }
              ],
              "src": "1064:6:5"
            },
            "scope": 1313,
            "src": "990:129:5",
            "stateMutability": "view",
            "superFunction": null,
            "visibility": "public"
          },
          {
            "body": {
              "id": 1311,
              "nodeType": "Block",
              "src": "1347:36:5",
              "statements": [
                {
                  "expression": {
                    "argumentTypes": null,
                    "id": 1309,
                    "isConstant": false,
                    "isLValue": false,
                    "isPure": false,
                    "lValueRequested": false,
                    "leftHandSide": {
                      "argumentTypes": null,
                      "baseExpression": {
                        "argumentTypes": null,
                        "id": 1305,
                        "name": "contracts",
                        "nodeType": "Identifier",
                        "overloadedDeclarations": [],
                        "referencedDeclaration": 1241,
                        "src": "1353:9:5",
                        "typeDescriptions": {
                          "typeIdentifier": "t_mapping$_t_address_$_t_bool_$",
                          "typeString": "mapping(address => bool)"
                        }
                      },
                      "id": 1307,
                      "indexExpression": {
                        "argumentTypes": null,
                        "id": 1306,
                        "name": "addr",
                        "nodeType": "Identifier",
                        "overloadedDeclarations": [],
                        "referencedDeclaration": 1298,
                        "src": "1363:4:5",
                        "typeDescriptions": {
                          "typeIdentifier": "t_address",
                          "typeString": "address"
                        }
                      },
                      "isConstant": false,
                      "isLValue": true,
                      "isPure": false,
                      "lValueRequested": true,
                      "nodeType": "IndexAccess",
                      "src": "1353:15:5",
                      "typeDescriptions": {
                        "typeIdentifier": "t_bool",
                        "typeString": "bool"
                      }
                    },
                    "nodeType": "Assignment",
                    "operator": "=",
                    "rightHandSide": {
                      "argumentTypes": null,
                      "id": 1308,
                      "name": "allowed",
                      "nodeType": "Identifier",
                      "overloadedDeclarations": [],
                      "referencedDeclaration": 1300,
                      "src": "1371:7:5",
                      "typeDescriptions": {
                        "typeIdentifier": "t_bool",
                        "typeString": "bool"
                      }
                    },
                    "src": "1353:25:5",
                    "typeDescriptions": {
                      "typeIdentifier": "t_bool",
                      "typeString": "bool"
                    }
                  },
                  "id": 1310,
                  "nodeType": "ExpressionStatement",
                  "src": "1353:25:5"
                }
              ]
            },
            "documentation": "Modify the allowed contracts that can write to this contract\n@param addr The address of the contract\n@param allowed True/False",
            "id": 1312,
            "implemented": true,
            "isConstructor": false,
            "isDeclaredConst": false,
            "modifiers": [
              {
                "arguments": null,
                "id": 1303,
                "modifierName": {
                  "argumentTypes": null,
                  "id": 1302,
                  "name": "onlyOwner",
                  "nodeType": "Identifier",
                  "overloadedDeclarations": [],
                  "referencedDeclaration": 1794,
                  "src": "1337:9:5",
                  "typeDescriptions": {
                    "typeIdentifier": "t_modifier$__$",
                    "typeString": "modifier ()"
                  }
                },
                "nodeType": "ModifierInvocation",
                "src": "1337:9:5"
              }
            ],
            "name": "modifyContracts",
            "nodeType": "FunctionDefinition",
            "parameters": {
              "id": 1301,
              "nodeType": "ParameterList",
              "parameters": [
                {
                  "constant": false,
                  "id": 1298,
                  "name": "addr",
                  "nodeType": "VariableDeclaration",
                  "scope": 1312,
                  "src": "1302:12:5",
                  "stateVariable": false,
                  "storageLocation": "default",
                  "typeDescriptions": {
                    "typeIdentifier": "t_address",
                    "typeString": "address"
                  },
                  "typeName": {
                    "id": 1297,
                    "name": "address",
                    "nodeType": "ElementaryTypeName",
                    "src": "1302:7:5",
                    "typeDescriptions": {
                      "typeIdentifier": "t_address",
                      "typeString": "address"
                    }
                  },
                  "value": null,
                  "visibility": "internal"
                },
                {
                  "constant": false,
                  "id": 1300,
                  "name": "allowed",
                  "nodeType": "VariableDeclaration",
                  "scope": 1312,
                  "src": "1316:12:5",
                  "stateVariable": false,
                  "storageLocation": "default",
                  "typeDescriptions": {
                    "typeIdentifier": "t_bool",
                    "typeString": "bool"
                  },
                  "typeName": {
                    "id": 1299,
                    "name": "bool",
                    "nodeType": "ElementaryTypeName",
                    "src": "1316:4:5",
                    "typeDescriptions": {
                      "typeIdentifier": "t_bool",
                      "typeString": "bool"
                    }
                  },
                  "value": null,
                  "visibility": "internal"
                }
              ],
              "src": "1301:28:5"
            },
            "payable": false,
            "returnParameters": {
              "id": 1304,
              "nodeType": "ParameterList",
              "parameters": [],
              "src": "1347:0:5"
            },
            "scope": 1313,
            "src": "1277:106:5",
            "stateMutability": "nonpayable",
            "superFunction": null,
            "visibility": "public"
          }
        ],
        "scope": 1314,
        "src": "112:1274:5"
      }
    ],
    "src": "0:1386:5"
  },
  "legacyAST": {
    "absolutePath": "/Users/shakieraleonard/Desktop/Dev/crypto/contracts/LonWireStorage.sol",
    "exportedSymbols": {
      "LonWireStorage": [
        1313
      ]
    },
    "id": 1314,
    "nodeType": "SourceUnit",
    "nodes": [
      {
        "id": 1221,
        "literals": [
          "solidity",
          "^",
          "0.4",
          ".24"
        ],
        "nodeType": "PragmaDirective",
        "src": "0:24:5"
      },
      {
        "absolutePath": "/Users/shakieraleonard/Desktop/Dev/crypto/contracts/LonToken.sol",
        "file": "./LonToken.sol",
        "id": 1222,
        "nodeType": "ImportDirective",
        "scope": 1314,
        "sourceUnit": 627,
        "src": "26:24:5",
        "symbolAliases": [],
        "unitAlias": ""
      },
      {
        "absolutePath": "zeppelin-solidity/contracts/ownership/Ownable.sol",
        "file": "zeppelin-solidity/contracts/ownership/Ownable.sol",
        "id": 1223,
        "nodeType": "ImportDirective",
        "scope": 1314,
        "sourceUnit": 1847,
        "src": "51:59:5",
        "symbolAliases": [],
        "unitAlias": ""
      },
      {
        "baseContracts": [
          {
            "arguments": null,
            "baseName": {
              "contractScope": null,
              "id": 1224,
              "name": "Ownable",
              "nodeType": "UserDefinedTypeName",
              "referencedDeclaration": 1846,
              "src": "139:7:5",
              "typeDescriptions": {
                "typeIdentifier": "t_contract$_Ownable_$1846",
                "typeString": "contract Ownable"
              }
            },
            "id": 1225,
            "nodeType": "InheritanceSpecifier",
            "src": "139:7:5"
          }
        ],
        "contractDependencies": [
          1846
        ],
        "contractKind": "contract",
        "documentation": null,
        "fullyImplemented": true,
        "id": 1313,
        "linearizedBaseContracts": [
          1313,
          1846
        ],
        "name": "LonWireStorage",
        "nodeType": "ContractDefinition",
        "nodes": [
          {
            "canonicalName": "LonWireStorage.Wire",
            "id": 1230,
            "members": [
              {
                "constant": false,
                "id": 1227,
                "name": "timestamp",
                "nodeType": "VariableDeclaration",
                "scope": 1230,
                "src": "170:14:5",
                "stateVariable": false,
                "storageLocation": "default",
                "typeDescriptions": {
                  "typeIdentifier": "t_uint256",
                  "typeString": "uint256"
                },
                "typeName": {
                  "id": 1226,
                  "name": "uint",
                  "nodeType": "ElementaryTypeName",
                  "src": "170:4:5",
                  "typeDescriptions": {
                    "typeIdentifier": "t_uint256",
                    "typeString": "uint256"
                  }
                },
                "value": null,
                "visibility": "internal"
              },
              {
                "constant": false,
                "id": 1229,
                "name": "value",
                "nodeType": "VariableDeclaration",
                "scope": 1230,
                "src": "190:10:5",
                "stateVariable": false,
                "storageLocation": "default",
                "typeDescriptions": {
                  "typeIdentifier": "t_uint256",
                  "typeString": "uint256"
                },
                "typeName": {
                  "id": 1228,
                  "name": "uint",
                  "nodeType": "ElementaryTypeName",
                  "src": "190:4:5",
                  "typeDescriptions": {
                    "typeIdentifier": "t_uint256",
                    "typeString": "uint256"
                  }
                },
                "value": null,
                "visibility": "internal"
              }
            ],
            "name": "Wire",
            "nodeType": "StructDefinition",
            "scope": 1313,
            "src": "152:53:5",
            "visibility": "public"
          },
          {
            "constant": false,
            "id": 1237,
            "name": "wires",
            "nodeType": "VariableDeclaration",
            "scope": 1313,
            "src": "243:59:5",
            "stateVariable": true,
            "storageLocation": "default",
            "typeDescriptions": {
              "typeIdentifier": "t_mapping$_t_address_$_t_mapping$_t_address_$_t_array$_t_struct$_Wire_$1230_storage_$dyn_storage_$_$",
              "typeString": "mapping(address => mapping(address => struct LonWireStorage.Wire[]))"
            },
            "typeName": {
              "id": 1236,
              "keyType": {
                "id": 1231,
                "name": "address",
                "nodeType": "ElementaryTypeName",
                "src": "251:7:5",
                "typeDescriptions": {
                  "typeIdentifier": "t_address",
                  "typeString": "address"
                }
              },
              "nodeType": "Mapping",
              "src": "243:46:5",
              "typeDescriptions": {
                "typeIdentifier": "t_mapping$_t_address_$_t_mapping$_t_address_$_t_array$_t_struct$_Wire_$1230_storage_$dyn_storage_$_$",
                "typeString": "mapping(address => mapping(address => struct LonWireStorage.Wire[]))"
              },
              "valueType": {
                "id": 1235,
                "keyType": {
                  "id": 1232,
                  "name": "address",
                  "nodeType": "ElementaryTypeName",
                  "src": "270:7:5",
                  "typeDescriptions": {
                    "typeIdentifier": "t_address",
                    "typeString": "address"
                  }
                },
                "nodeType": "Mapping",
                "src": "262:26:5",
                "typeDescriptions": {
                  "typeIdentifier": "t_mapping$_t_address_$_t_array$_t_struct$_Wire_$1230_storage_$dyn_storage_$",
                  "typeString": "mapping(address => struct LonWireStorage.Wire[])"
                },
                "valueType": {
                  "baseType": {
                    "contractScope": null,
                    "id": 1233,
                    "name": "Wire",
                    "nodeType": "UserDefinedTypeName",
                    "referencedDeclaration": 1230,
                    "src": "281:4:5",
                    "typeDescriptions": {
                      "typeIdentifier": "t_struct$_Wire_$1230_storage_ptr",
                      "typeString": "struct LonWireStorage.Wire"
                    }
                  },
                  "id": 1234,
                  "length": null,
                  "nodeType": "ArrayTypeName",
                  "src": "281:6:5",
                  "typeDescriptions": {
                    "typeIdentifier": "t_array$_t_struct$_Wire_$1230_storage_$dyn_storage_ptr",
                    "typeString": "struct LonWireStorage.Wire[]"
                  }
                }
              }
            },
            "value": null,
            "visibility": "public"
          },
          {
            "constant": false,
            "id": 1241,
            "name": "contracts",
            "nodeType": "VariableDeclaration",
            "scope": 1313,
            "src": "330:41:5",
            "stateVariable": true,
            "storageLocation": "default",
            "typeDescriptions": {
              "typeIdentifier": "t_mapping$_t_address_$_t_bool_$",
              "typeString": "mapping(address => bool)"
            },
            "typeName": {
              "id": 1240,
              "keyType": {
                "id": 1238,
                "name": "address",
                "nodeType": "ElementaryTypeName",
                "src": "338:7:5",
                "typeDescriptions": {
                  "typeIdentifier": "t_address",
                  "typeString": "address"
                }
              },
              "nodeType": "Mapping",
              "src": "330:24:5",
              "typeDescriptions": {
                "typeIdentifier": "t_mapping$_t_address_$_t_bool_$",
                "typeString": "mapping(address => bool)"
              },
              "valueType": {
                "id": 1239,
                "name": "bool",
                "nodeType": "ElementaryTypeName",
                "src": "349:4:5",
                "typeDescriptions": {
                  "typeIdentifier": "t_bool",
                  "typeString": "bool"
                }
              }
            },
            "value": null,
            "visibility": "public"
          },
          {
            "body": {
              "id": 1278,
              "nodeType": "Block",
              "src": "630:231:5",
              "statements": [
                {
                  "expression": {
                    "argumentTypes": null,
                    "arguments": [
                      {
                        "argumentTypes": null,
                        "baseExpression": {
                          "argumentTypes": null,
                          "id": 1253,
                          "name": "contracts",
                          "nodeType": "Identifier",
                          "overloadedDeclarations": [],
                          "referencedDeclaration": 1241,
                          "src": "703:9:5",
                          "typeDescriptions": {
                            "typeIdentifier": "t_mapping$_t_address_$_t_bool_$",
                            "typeString": "mapping(address => bool)"
                          }
                        },
                        "id": 1256,
                        "indexExpression": {
                          "argumentTypes": null,
                          "expression": {
                            "argumentTypes": null,
                            "id": 1254,
                            "name": "msg",
                            "nodeType": "Identifier",
                            "overloadedDeclarations": [],
                            "referencedDeclaration": 2562,
                            "src": "713:3:5",
                            "typeDescriptions": {
                              "typeIdentifier": "t_magic_message",
                              "typeString": "msg"
                            }
                          },
                          "id": 1255,
                          "isConstant": false,
                          "isLValue": false,
                          "isPure": false,
                          "lValueRequested": false,
                          "memberName": "sender",
                          "nodeType": "MemberAccess",
                          "referencedDeclaration": null,
                          "src": "713:10:5",
                          "typeDescriptions": {
                            "typeIdentifier": "t_address",
                            "typeString": "address"
                          }
                        },
                        "isConstant": false,
                        "isLValue": true,
                        "isPure": false,
                        "lValueRequested": false,
                        "nodeType": "IndexAccess",
                        "src": "703:21:5",
                        "typeDescriptions": {
                          "typeIdentifier": "t_bool",
                          "typeString": "bool"
                        }
                      }
                    ],
                    "expression": {
                      "argumentTypes": [
                        {
                          "typeIdentifier": "t_bool",
                          "typeString": "bool"
                        }
                      ],
                      "id": 1252,
                      "name": "require",
                      "nodeType": "Identifier",
                      "overloadedDeclarations": [
                        2565,
                        2566
                      ],
                      "referencedDeclaration": 2565,
                      "src": "695:7:5",
                      "typeDescriptions": {
                        "typeIdentifier": "t_function_require_pure$_t_bool_$returns$__$",
                        "typeString": "function (bool) pure"
                      }
                    },
                    "id": 1257,
                    "isConstant": false,
                    "isLValue": false,
                    "isPure": false,
                    "kind": "functionCall",
                    "lValueRequested": false,
                    "names": [],
                    "nodeType": "FunctionCall",
                    "src": "695:30:5",
                    "typeDescriptions": {
                      "typeIdentifier": "t_tuple$__$",
                      "typeString": "tuple()"
                    }
                  },
                  "id": 1258,
                  "nodeType": "ExpressionStatement",
                  "src": "695:30:5"
                },
                {
                  "assignments": [
                    1260
                  ],
                  "declarations": [
                    {
                      "constant": false,
                      "id": 1260,
                      "name": "wire",
                      "nodeType": "VariableDeclaration",
                      "scope": 1279,
                      "src": "732:16:5",
                      "stateVariable": false,
                      "storageLocation": "memory",
                      "typeDescriptions": {
                        "typeIdentifier": "t_struct$_Wire_$1230_memory_ptr",
                        "typeString": "struct LonWireStorage.Wire"
                      },
                      "typeName": {
                        "contractScope": null,
                        "id": 1259,
                        "name": "Wire",
                        "nodeType": "UserDefinedTypeName",
                        "referencedDeclaration": 1230,
                        "src": "732:4:5",
                        "typeDescriptions": {
                          "typeIdentifier": "t_struct$_Wire_$1230_storage_ptr",
                          "typeString": "struct LonWireStorage.Wire"
                        }
                      },
                      "value": null,
                      "visibility": "internal"
                    }
                  ],
                  "id": 1266,
                  "initialValue": {
                    "argumentTypes": null,
                    "arguments": [
                      {
                        "argumentTypes": null,
                        "expression": {
                          "argumentTypes": null,
                          "id": 1262,
                          "name": "block",
                          "nodeType": "Identifier",
                          "overloadedDeclarations": [],
                          "referencedDeclaration": 2552,
                          "src": "763:5:5",
                          "typeDescriptions": {
                            "typeIdentifier": "t_magic_block",
                            "typeString": "block"
                          }
                        },
                        "id": 1263,
                        "isConstant": false,
                        "isLValue": false,
                        "isPure": false,
                        "lValueRequested": false,
                        "memberName": "timestamp",
                        "nodeType": "MemberAccess",
                        "referencedDeclaration": null,
                        "src": "763:15:5",
                        "typeDescriptions": {
                          "typeIdentifier": "t_uint256",
                          "typeString": "uint256"
                        }
                      },
                      {
                        "argumentTypes": null,
                        "id": 1264,
                        "name": "value",
                        "nodeType": "Identifier",
                        "overloadedDeclarations": [],
                        "referencedDeclaration": 1247,
                        "src": "787:5:5",
                        "typeDescriptions": {
                          "typeIdentifier": "t_uint256",
                          "typeString": "uint256"
                        }
                      }
                    ],
                    "expression": {
                      "argumentTypes": [
                        {
                          "typeIdentifier": "t_uint256",
                          "typeString": "uint256"
                        },
                        {
                          "typeIdentifier": "t_uint256",
                          "typeString": "uint256"
                        }
                      ],
                      "id": 1261,
                      "name": "Wire",
                      "nodeType": "Identifier",
                      "overloadedDeclarations": [],
                      "referencedDeclaration": 1230,
                      "src": "751:4:5",
                      "typeDescriptions": {
                        "typeIdentifier": "t_type$_t_struct$_Wire_$1230_storage_ptr_$",
                        "typeString": "type(struct LonWireStorage.Wire storage pointer)"
                      }
                    },
                    "id": 1265,
                    "isConstant": false,
                    "isLValue": false,
                    "isPure": false,
                    "kind": "structConstructorCall",
                    "lValueRequested": false,
                    "names": [],
                    "nodeType": "FunctionCall",
                    "src": "751:47:5",
                    "typeDescriptions": {
                      "typeIdentifier": "t_struct$_Wire_$1230_memory",
                      "typeString": "struct LonWireStorage.Wire memory"
                    }
                  },
                  "nodeType": "VariableDeclarationStatement",
                  "src": "732:66:5"
                },
                {
                  "expression": {
                    "argumentTypes": null,
                    "arguments": [
                      {
                        "argumentTypes": null,
                        "id": 1273,
                        "name": "wire",
                        "nodeType": "Identifier",
                        "overloadedDeclarations": [],
                        "referencedDeclaration": 1260,
                        "src": "834:4:5",
                        "typeDescriptions": {
                          "typeIdentifier": "t_struct$_Wire_$1230_memory_ptr",
                          "typeString": "struct LonWireStorage.Wire memory"
                        }
                      }
                    ],
                    "expression": {
                      "argumentTypes": [
                        {
                          "typeIdentifier": "t_struct$_Wire_$1230_memory_ptr",
                          "typeString": "struct LonWireStorage.Wire memory"
                        }
                      ],
                      "expression": {
                        "argumentTypes": null,
                        "baseExpression": {
                          "argumentTypes": null,
                          "baseExpression": {
                            "argumentTypes": null,
                            "id": 1267,
                            "name": "wires",
                            "nodeType": "Identifier",
                            "overloadedDeclarations": [],
                            "referencedDeclaration": 1237,
                            "src": "805:5:5",
                            "typeDescriptions": {
                              "typeIdentifier": "t_mapping$_t_address_$_t_mapping$_t_address_$_t_array$_t_struct$_Wire_$1230_storage_$dyn_storage_$_$",
                              "typeString": "mapping(address => mapping(address => struct LonWireStorage.Wire storage ref[] storage ref))"
                            }
                          },
                          "id": 1270,
                          "indexExpression": {
                            "argumentTypes": null,
                            "id": 1268,
                            "name": "receiver",
                            "nodeType": "Identifier",
                            "overloadedDeclarations": [],
                            "referencedDeclaration": 1245,
                            "src": "811:8:5",
                            "typeDescriptions": {
                              "typeIdentifier": "t_address",
                              "typeString": "address"
                            }
                          },
                          "isConstant": false,
                          "isLValue": true,
                          "isPure": false,
                          "lValueRequested": false,
                          "nodeType": "IndexAccess",
                          "src": "805:15:5",
                          "typeDescriptions": {
                            "typeIdentifier": "t_mapping$_t_address_$_t_array$_t_struct$_Wire_$1230_storage_$dyn_storage_$",
                            "typeString": "mapping(address => struct LonWireStorage.Wire storage ref[] storage ref)"
                          }
                        },
                        "id": 1271,
                        "indexExpression": {
                          "argumentTypes": null,
                          "id": 1269,
                          "name": "sender",
                          "nodeType": "Identifier",
                          "overloadedDeclarations": [],
                          "referencedDeclaration": 1243,
                          "src": "821:6:5",
                          "typeDescriptions": {
                            "typeIdentifier": "t_address",
                            "typeString": "address"
                          }
                        },
                        "isConstant": false,
                        "isLValue": true,
                        "isPure": false,
                        "lValueRequested": false,
                        "nodeType": "IndexAccess",
                        "src": "805:23:5",
                        "typeDescriptions": {
                          "typeIdentifier": "t_array$_t_struct$_Wire_$1230_storage_$dyn_storage",
                          "typeString": "struct LonWireStorage.Wire storage ref[] storage ref"
                        }
                      },
                      "id": 1272,
                      "isConstant": false,
                      "isLValue": false,
                      "isPure": false,
                      "lValueRequested": false,
                      "memberName": "push",
                      "nodeType": "MemberAccess",
                      "referencedDeclaration": null,
                      "src": "805:28:5",
                      "typeDescriptions": {
                        "typeIdentifier": "t_function_arraypush_nonpayable$_t_struct$_Wire_$1230_storage_$returns$_t_uint256_$",
                        "typeString": "function (struct LonWireStorage.Wire storage ref) returns (uint256)"
                      }
                    },
                    "id": 1274,
                    "isConstant": false,
                    "isLValue": false,
                    "isPure": false,
                    "kind": "functionCall",
                    "lValueRequested": false,
                    "names": [],
                    "nodeType": "FunctionCall",
                    "src": "805:34:5",
                    "typeDescriptions": {
                      "typeIdentifier": "t_uint256",
                      "typeString": "uint256"
                    }
                  },
                  "id": 1275,
                  "nodeType": "ExpressionStatement",
                  "src": "805:34:5"
                },
                {
                  "expression": {
                    "argumentTypes": null,
                    "hexValue": "74727565",
                    "id": 1276,
                    "isConstant": false,
                    "isLValue": false,
                    "isPure": true,
                    "kind": "bool",
                    "lValueRequested": false,
                    "nodeType": "Literal",
                    "src": "852:4:5",
                    "subdenomination": null,
                    "typeDescriptions": {
                      "typeIdentifier": "t_bool",
                      "typeString": "bool"
                    },
                    "value": "true"
                  },
                  "functionReturnParameters": 1251,
                  "id": 1277,
                  "nodeType": "Return",
                  "src": "845:11:5"
                }
              ]
            },
            "documentation": "Insert the wire to the storage\n@param sender The sender\n@param receiver The receiver\n@param value The value of the wire\n@return bool",
            "id": 1279,
            "implemented": true,
            "isConstructor": false,
            "isDeclaredConst": false,
            "modifiers": [],
            "name": "insert",
            "nodeType": "FunctionDefinition",
            "parameters": {
              "id": 1248,
              "nodeType": "ParameterList",
              "parameters": [
                {
                  "constant": false,
                  "id": 1243,
                  "name": "sender",
                  "nodeType": "VariableDeclaration",
                  "scope": 1279,
                  "src": "562:14:5",
                  "stateVariable": false,
                  "storageLocation": "default",
                  "typeDescriptions": {
                    "typeIdentifier": "t_address",
                    "typeString": "address"
                  },
                  "typeName": {
                    "id": 1242,
                    "name": "address",
                    "nodeType": "ElementaryTypeName",
                    "src": "562:7:5",
                    "typeDescriptions": {
                      "typeIdentifier": "t_address",
                      "typeString": "address"
                    }
                  },
                  "value": null,
                  "visibility": "internal"
                },
                {
                  "constant": false,
                  "id": 1245,
                  "name": "receiver",
                  "nodeType": "VariableDeclaration",
                  "scope": 1279,
                  "src": "578:16:5",
                  "stateVariable": false,
                  "storageLocation": "default",
                  "typeDescriptions": {
                    "typeIdentifier": "t_address",
                    "typeString": "address"
                  },
                  "typeName": {
                    "id": 1244,
                    "name": "address",
                    "nodeType": "ElementaryTypeName",
                    "src": "578:7:5",
                    "typeDescriptions": {
                      "typeIdentifier": "t_address",
                      "typeString": "address"
                    }
                  },
                  "value": null,
                  "visibility": "internal"
                },
                {
                  "constant": false,
                  "id": 1247,
                  "name": "value",
                  "nodeType": "VariableDeclaration",
                  "scope": 1279,
                  "src": "596:10:5",
                  "stateVariable": false,
                  "storageLocation": "default",
                  "typeDescriptions": {
                    "typeIdentifier": "t_uint256",
                    "typeString": "uint256"
                  },
                  "typeName": {
                    "id": 1246,
                    "name": "uint",
                    "nodeType": "ElementaryTypeName",
                    "src": "596:4:5",
                    "typeDescriptions": {
                      "typeIdentifier": "t_uint256",
                      "typeString": "uint256"
                    }
                  },
                  "value": null,
                  "visibility": "internal"
                }
              ],
              "src": "561:46:5"
            },
            "payable": false,
            "returnParameters": {
              "id": 1251,
              "nodeType": "ParameterList",
              "parameters": [
                {
                  "constant": false,
                  "id": 1250,
                  "name": "",
                  "nodeType": "VariableDeclaration",
                  "scope": 1279,
                  "src": "624:4:5",
                  "stateVariable": false,
                  "storageLocation": "default",
                  "typeDescriptions": {
                    "typeIdentifier": "t_bool",
                    "typeString": "bool"
                  },
                  "typeName": {
                    "id": 1249,
                    "name": "bool",
                    "nodeType": "ElementaryTypeName",
                    "src": "624:4:5",
                    "typeDescriptions": {
                      "typeIdentifier": "t_bool",
                      "typeString": "bool"
                    }
                  },
                  "value": null,
                  "visibility": "internal"
                }
              ],
              "src": "623:6:5"
            },
            "scope": 1313,
            "src": "546:315:5",
            "stateMutability": "nonpayable",
            "superFunction": null,
            "visibility": "public"
          },
          {
            "body": {
              "id": 1295,
              "nodeType": "Block",
              "src": "1071:48:5",
              "statements": [
                {
                  "expression": {
                    "argumentTypes": null,
                    "expression": {
                      "argumentTypes": null,
                      "baseExpression": {
                        "argumentTypes": null,
                        "baseExpression": {
                          "argumentTypes": null,
                          "id": 1288,
                          "name": "wires",
                          "nodeType": "Identifier",
                          "overloadedDeclarations": [],
                          "referencedDeclaration": 1237,
                          "src": "1084:5:5",
                          "typeDescriptions": {
                            "typeIdentifier": "t_mapping$_t_address_$_t_mapping$_t_address_$_t_array$_t_struct$_Wire_$1230_storage_$dyn_storage_$_$",
                            "typeString": "mapping(address => mapping(address => struct LonWireStorage.Wire storage ref[] storage ref))"
                          }
                        },
                        "id": 1290,
                        "indexExpression": {
                          "argumentTypes": null,
                          "id": 1289,
                          "name": "receiver",
                          "nodeType": "Identifier",
                          "overloadedDeclarations": [],
                          "referencedDeclaration": 1281,
                          "src": "1090:8:5",
                          "typeDescriptions": {
                            "typeIdentifier": "t_address",
                            "typeString": "address"
                          }
                        },
                        "isConstant": false,
                        "isLValue": true,
                        "isPure": false,
                        "lValueRequested": false,
                        "nodeType": "IndexAccess",
                        "src": "1084:15:5",
                        "typeDescriptions": {
                          "typeIdentifier": "t_mapping$_t_address_$_t_array$_t_struct$_Wire_$1230_storage_$dyn_storage_$",
                          "typeString": "mapping(address => struct LonWireStorage.Wire storage ref[] storage ref)"
                        }
                      },
                      "id": 1292,
                      "indexExpression": {
                        "argumentTypes": null,
                        "id": 1291,
                        "name": "sender",
                        "nodeType": "Identifier",
                        "overloadedDeclarations": [],
                        "referencedDeclaration": 1283,
                        "src": "1100:6:5",
                        "typeDescriptions": {
                          "typeIdentifier": "t_address",
                          "typeString": "address"
                        }
                      },
                      "isConstant": false,
                      "isLValue": true,
                      "isPure": false,
                      "lValueRequested": false,
                      "nodeType": "IndexAccess",
                      "src": "1084:23:5",
                      "typeDescriptions": {
                        "typeIdentifier": "t_array$_t_struct$_Wire_$1230_storage_$dyn_storage",
                        "typeString": "struct LonWireStorage.Wire storage ref[] storage ref"
                      }
                    },
                    "id": 1293,
                    "isConstant": false,
                    "isLValue": true,
                    "isPure": false,
                    "lValueRequested": false,
                    "memberName": "length",
                    "nodeType": "MemberAccess",
                    "referencedDeclaration": null,
                    "src": "1084:30:5",
                    "typeDescriptions": {
                      "typeIdentifier": "t_uint256",
                      "typeString": "uint256"
                    }
                  },
                  "functionReturnParameters": 1287,
                  "id": 1294,
                  "nodeType": "Return",
                  "src": "1077:37:5"
                }
              ]
            },
            "documentation": "Return the count of wires\n@param receiver The receiver\n@param sender The sender\n@return uint",
            "id": 1296,
            "implemented": true,
            "isConstructor": false,
            "isDeclaredConst": true,
            "modifiers": [],
            "name": "countWires",
            "nodeType": "FunctionDefinition",
            "parameters": {
              "id": 1284,
              "nodeType": "ParameterList",
              "parameters": [
                {
                  "constant": false,
                  "id": 1281,
                  "name": "receiver",
                  "nodeType": "VariableDeclaration",
                  "scope": 1296,
                  "src": "1010:16:5",
                  "stateVariable": false,
                  "storageLocation": "default",
                  "typeDescriptions": {
                    "typeIdentifier": "t_address",
                    "typeString": "address"
                  },
                  "typeName": {
                    "id": 1280,
                    "name": "address",
                    "nodeType": "ElementaryTypeName",
                    "src": "1010:7:5",
                    "typeDescriptions": {
                      "typeIdentifier": "t_address",
                      "typeString": "address"
                    }
                  },
                  "value": null,
                  "visibility": "internal"
                },
                {
                  "constant": false,
                  "id": 1283,
                  "name": "sender",
                  "nodeType": "VariableDeclaration",
                  "scope": 1296,
                  "src": "1028:14:5",
                  "stateVariable": false,
                  "storageLocation": "default",
                  "typeDescriptions": {
                    "typeIdentifier": "t_address",
                    "typeString": "address"
                  },
                  "typeName": {
                    "id": 1282,
                    "name": "address",
                    "nodeType": "ElementaryTypeName",
                    "src": "1028:7:5",
                    "typeDescriptions": {
                      "typeIdentifier": "t_address",
                      "typeString": "address"
                    }
                  },
                  "value": null,
                  "visibility": "internal"
                }
              ],
              "src": "1009:34:5"
            },
            "payable": false,
            "returnParameters": {
              "id": 1287,
              "nodeType": "ParameterList",
              "parameters": [
                {
                  "constant": false,
                  "id": 1286,
                  "name": "",
                  "nodeType": "VariableDeclaration",
                  "scope": 1296,
                  "src": "1065:4:5",
                  "stateVariable": false,
                  "storageLocation": "default",
                  "typeDescriptions": {
                    "typeIdentifier": "t_uint256",
                    "typeString": "uint256"
                  },
                  "typeName": {
                    "id": 1285,
                    "name": "uint",
                    "nodeType": "ElementaryTypeName",
                    "src": "1065:4:5",
                    "typeDescriptions": {
                      "typeIdentifier": "t_uint256",
                      "typeString": "uint256"
                    }
                  },
                  "value": null,
                  "visibility": "internal"
                }
              ],
              "src": "1064:6:5"
            },
            "scope": 1313,
            "src": "990:129:5",
            "stateMutability": "view",
            "superFunction": null,
            "visibility": "public"
          },
          {
            "body": {
              "id": 1311,
              "nodeType": "Block",
              "src": "1347:36:5",
              "statements": [
                {
                  "expression": {
                    "argumentTypes": null,
                    "id": 1309,
                    "isConstant": false,
                    "isLValue": false,
                    "isPure": false,
                    "lValueRequested": false,
                    "leftHandSide": {
                      "argumentTypes": null,
                      "baseExpression": {
                        "argumentTypes": null,
                        "id": 1305,
                        "name": "contracts",
                        "nodeType": "Identifier",
                        "overloadedDeclarations": [],
                        "referencedDeclaration": 1241,
                        "src": "1353:9:5",
                        "typeDescriptions": {
                          "typeIdentifier": "t_mapping$_t_address_$_t_bool_$",
                          "typeString": "mapping(address => bool)"
                        }
                      },
                      "id": 1307,
                      "indexExpression": {
                        "argumentTypes": null,
                        "id": 1306,
                        "name": "addr",
                        "nodeType": "Identifier",
                        "overloadedDeclarations": [],
                        "referencedDeclaration": 1298,
                        "src": "1363:4:5",
                        "typeDescriptions": {
                          "typeIdentifier": "t_address",
                          "typeString": "address"
                        }
                      },
                      "isConstant": false,
                      "isLValue": true,
                      "isPure": false,
                      "lValueRequested": true,
                      "nodeType": "IndexAccess",
                      "src": "1353:15:5",
                      "typeDescriptions": {
                        "typeIdentifier": "t_bool",
                        "typeString": "bool"
                      }
                    },
                    "nodeType": "Assignment",
                    "operator": "=",
                    "rightHandSide": {
                      "argumentTypes": null,
                      "id": 1308,
                      "name": "allowed",
                      "nodeType": "Identifier",
                      "overloadedDeclarations": [],
                      "referencedDeclaration": 1300,
                      "src": "1371:7:5",
                      "typeDescriptions": {
                        "typeIdentifier": "t_bool",
                        "typeString": "bool"
                      }
                    },
                    "src": "1353:25:5",
                    "typeDescriptions": {
                      "typeIdentifier": "t_bool",
                      "typeString": "bool"
                    }
                  },
                  "id": 1310,
                  "nodeType": "ExpressionStatement",
                  "src": "1353:25:5"
                }
              ]
            },
            "documentation": "Modify the allowed contracts that can write to this contract\n@param addr The address of the contract\n@param allowed True/False",
            "id": 1312,
            "implemented": true,
            "isConstructor": false,
            "isDeclaredConst": false,
            "modifiers": [
              {
                "arguments": null,
                "id": 1303,
                "modifierName": {
                  "argumentTypes": null,
                  "id": 1302,
                  "name": "onlyOwner",
                  "nodeType": "Identifier",
                  "overloadedDeclarations": [],
                  "referencedDeclaration": 1794,
                  "src": "1337:9:5",
                  "typeDescriptions": {
                    "typeIdentifier": "t_modifier$__$",
                    "typeString": "modifier ()"
                  }
                },
                "nodeType": "ModifierInvocation",
                "src": "1337:9:5"
              }
            ],
            "name": "modifyContracts",
            "nodeType": "FunctionDefinition",
            "parameters": {
              "id": 1301,
              "nodeType": "ParameterList",
              "parameters": [
                {
                  "constant": false,
                  "id": 1298,
                  "name": "addr",
                  "nodeType": "VariableDeclaration",
                  "scope": 1312,
                  "src": "1302:12:5",
                  "stateVariable": false,
                  "storageLocation": "default",
                  "typeDescriptions": {
                    "typeIdentifier": "t_address",
                    "typeString": "address"
                  },
                  "typeName": {
                    "id": 1297,
                    "name": "address",
                    "nodeType": "ElementaryTypeName",
                    "src": "1302:7:5",
                    "typeDescriptions": {
                      "typeIdentifier": "t_address",
                      "typeString": "address"
                    }
                  },
                  "value": null,
                  "visibility": "internal"
                },
                {
                  "constant": false,
                  "id": 1300,
                  "name": "allowed",
                  "nodeType": "VariableDeclaration",
                  "scope": 1312,
                  "src": "1316:12:5",
                  "stateVariable": false,
                  "storageLocation": "default",
                  "typeDescriptions": {
                    "typeIdentifier": "t_bool",
                    "typeString": "bool"
                  },
                  "typeName": {
                    "id": 1299,
                    "name": "bool",
                    "nodeType": "ElementaryTypeName",
                    "src": "1316:4:5",
                    "typeDescriptions": {
                      "typeIdentifier": "t_bool",
                      "typeString": "bool"
                    }
                  },
                  "value": null,
                  "visibility": "internal"
                }
              ],
              "src": "1301:28:5"
            },
            "payable": false,
            "returnParameters": {
              "id": 1304,
              "nodeType": "ParameterList",
              "parameters": [],
              "src": "1347:0:5"
            },
            "scope": 1313,
            "src": "1277:106:5",
            "stateMutability": "nonpayable",
            "superFunction": null,
            "visibility": "public"
          }
        ],
        "scope": 1314,
        "src": "112:1274:5"
      }
    ],
    "src": "0:1386:5"
  },
  "compiler": {
    "name": "solc",
    "version": "0.4.26+commit.4563c3fc.Emscripten.clang"
  },
  "networks": {},
  "schemaVersion": "2.0.3",
  "updatedAt": "2020-08-31T11:58:10.380Z"
}